$primary-back-color: #1890ff;
$primary-back-color-hover: #40a9ff;
$primary-back-color-active: #096dd9;
$primary-text-color: #fff;
$primary-color-hover: #40a9ff;
$font-size: 14px;

$link-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #f5222d;

$font-size-base: 14px;
$heading-color: rgba(0, 0, 0, .85);
$text-color: rgba(0, 0, 0, .65);
$text-color-secondary : rgba(0, 0, 0, .45);
$disabled-color : rgba(0, 0, 0, .25);

$border-radius-base: 4px;


$button-color-base: #1890ff;
$button-color-hover: #40a9ff;
$button-color-active: #096dd9;


$box-shadow-button: 0 2px 0 rgba(0, 0, 0, 0.045);

$primary-height: 32px;

